<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_ICodeWizardsServer" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:65170/CodeWizardsServer.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ICodeWizardsServer"
                contract="CodeWizardServerProxy.ICodeWizardsServer" name="BasicHttpBinding_ICodeWizardsServer" />
        </client>
    </system.serviceModel>
</configuration>